/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Common */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}

.page-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.btn-large {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  max-width: 300px;
  min-height: 62px;
  margin: 0 0 0.75rem;
  padding: 0.75rem 1rem;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-weight: 500;

  &:disabled {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: auto;
  }

  @media (max-width: 450px) {
    font-size: 0.9rem;
  }
}

/* Header */
header {
  border-bottom: 1px solid black;

  & nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;

    & button {
      all: unset;
      margin: 8px;
      cursor: pointer;
    }
  }
}

/* SignUpPage */
.sign-up-page {
  form {
    max-width: 300px;
    margin: 0 auto;

    & > div {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 500;
        margin-bottom: 0.25rem;
        text-align: left;
      }

      input {
        width: 100%;
        margin-bottom: 0.5rem;
        padding: 0.5rem 1rem;
        border: 1px solid #bbb;
        border-radius: 0.5rem;
        background-color: white;
        font-size: 1rem;
      }
    }
  }
}
